/* app css stylesheet */
body, html{
	font-family: calibri;
	height: 100%;
}
header {
	height: 35px;
	padding: 15px;
	line-height: 35px;
	color: #fff;
	background: #ff6200;
}

main {
	position: relative;
}

nav, .content-body {
	position: absolute;
}

nav select, nav input, nav label, nav button {
	margin:10px;
	display: block;
}
nav label {
	font-weight: bold;
	
}

nav {
    top: 0px;
    bottom: 0;
    left: 0;
    width: 230px;
    background-color: #f7f7f7;
    display: block;
    height: calc(100vh - 65px);
    padding: 10px;
}

.content-body {
	left:250px;
	width: calc(100% - 250px);
	height: calc(100vh - 65px);
	overflow: auto;
}

header h1 {
	margin:0px;
	padding: 0px;
}

#chart-wrap{
	padding: 20px;
	width: 90%;
}